<p id="notice"><%= notice %></p>
<br />
<%= tag.div id: :boards, data: { lists: @listings.to_json(include: [:cards, :time_cards]), client: @client.id, time_cards: @time_cards.to_json, tags: @tags.to_json } %>
