<p id="notice"><%= notice %></p>
<br />
<%= tag.div id: :todo, data: { cards: @cards.to_json(include: :tag), time_cards: @time_cards.to_json, lists: @listings.to_json(include: [:cards, :time_cards]), client: @client.id, tags: @tags.to_json } %>
